{% extends '_base.html'%}
{% load static %}
{% block content %}
  <div class="row">
        <div class="col-md-9 p-3">
          <h1 class="p-3">{{ movie.title }}</h1>
          {% if movie.avatar %}
          <img src="{{ movie.avatar.url }}" class="d-block w-100"  width="800" height="550" alt="{{ movie.title }}">
<!--  rating view        -->


            <div class="d-flex justify-content-between align-items-center">
            <div class="ratings"  style="font-size:30px;">
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star"></i>
            </div>
<!--            <h5 class="review-count">12 Reviews</h5>-->
        </div>

          {% else %}
          <img src="" class="d-block w-100"  width="800" height="550" alt="{{ movie.title }}">
          {% endif %}
          <div class="p-4">

              <button type="button" class="btn btn-dark" style="border-radius:20px">{{ movie.movie_genres.title }}</button>

<!--            <button type="button" class="btn btn-dark" style="border-radius:20px">{{ movie.genres.title }}</button>-->
<!--            <button type="button" class="btn btn-dark" style="border-radius:20px">dark</button>-->
<!--            <button type="button" class="btn btn-dark" style="border-radius:20px">dark</button>-->
<!--            <button type="button" class="btn btn-dark" style="border-radius:20px">dark</button>-->
          </div>
          <p>{{ movie.description }}</p>
          <hr>
          <p>
            <strong>Director</strong>
              {% for director in directors %}
              <a style="margin-left:20px;text-decoration:none" href="#">
                  {{ director }}
              </a>
              {% endfor %}
          </p>
          <hr>
          <p>
            <strong>writers</strong>
              {% for writer in writers %}
              <a style="margin-left:20px;text-decoration:none" href="#">
                  {{ writer }}
              </a>
              {% endfor %}
          </p>
          <hr>
          <p>
            <strong>Stars</strong>
              {% for actor in actors %}
              <a style="margin-left:20px;text-decoration:none" href="#">
                  {{actor}}
              </a>
              {% endfor %}
          </p>
        </div>
        <div class="col-md-3 p-3 text-center">
          <a href="#" style="">
              <div class="card text-white bg-dark">
                <img src="images/slider/imdb-photo1.jpg" width="200" height="200" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title ">Card title</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
  </div>
<div class="row">
    <div class="col-md-12 text-center p-5">
        <a href="{% url 'edit_movie' movie.id%}" class="btn btn-primary">If you think this movie need to edit,,<br><span style="color:black;font-size:30px; font-weight: bold;"> click here!!</span></a>
    </div>
</div>




{% endblock %}
