{% extends '_base.html'%}
{% load static %}
{% block content %}
  <div class="row">
        <div class="col-md-9 p-3">
          <h1 class="p-3">{{ movie.title }}</h1>
          {% if movie.avatar %}
          <img src="{{ movie.avatar.url }}" class="d-block w-100"  width="800" height="550" alt="{{ movie.title }}">
          {% else %}
          <img src="" class="d-block w-100"  width="800" height="550" alt="{{ movie.title }}">
          {% endif %}
          <div class="p-4">
<!--            <button type="button" class="btn btn-dark" style="border-radius:20px">{{ movie.genres.title }}</button>-->
<!--            <button type="button" class="btn btn-dark" style="border-radius:20px">dark</button>-->
<!--            <button type="button" class="btn btn-dark" style="border-radius:20px">dark</button>-->
<!--            <button type="button" class="btn btn-dark" style="border-radius:20px">dark</button>-->
          </div>
          <p>{{ movie.description }}</p>
          <hr>
          <p>
            <strong>Director</strong>
              {% for director in directors %}
              <a style="margin-left:20px;text-decoration:none" href="#">
                  {{ director }}
              </a>
              {% endfor %}
          </p>
          <hr>
          <p>
            <strong>Writers</strong>
              {% for Writer in Writers %}
              <a style="margin-left:20px;text-decoration:none" href="#">
                  {{ Writer }}
              </a>
              {% endfor %}
          </p>
          <hr>
          <p>
            <strong>Stars</strong>
              {% for actor in actors %}
              <a style="margin-left:20px;text-decoration:none" href="#">
                  {{actor}}
              </a>
              {% endfor %}
          </p>
        </div>
        <div class="col-md-3 p-3 text-center">
          <a href="#" style="">
              <div class="card text-white bg-dark">
                <img src="images/slider/imdb-photo1.jpg" width="200" height="200" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title ">Card title</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

{% endblock %}