{% extends '_base.html' %}
{% load static %}

{% block title %}index{% endblock %}

{% block content%}
<div class="row">
        <div class="col-12 p-4">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner" style="border-radius:20px;">
              <div class="carousel-item active">
                <img src="{% static 'movies/images/slider/imdb-photo1.jpg' %}" width="800" height="530" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'movies/images/slider/imdb-photo2.jpg' %}" width="800" height="530" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'movies/images/slider/imdb-photo3.jpg' %}" width="800" height="530" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        </div>
      </div>
      <!-- end slider -->
      <!-- start movie card -->
      <div class="row pt-5">
        <div class="col-12">
          <h3 class="text-warning text-center">LAST MOVIES</h3>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-6 g-2 p-4 justify-content-center">
        <div class="col">
          <div class="card h-100 text-white bg-dark">
            <img src="images/slider/imdb-photo1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title ">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 text-white bg-dark">
            <img src="images/slider/imdb-photo1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 text-white bg-dark">
            <img src="images/slider/imdb-photo1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 text-white bg-dark">
            <img src="images/slider/imdb-photo1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>

      </div>
      <!-- end movie card -->
      <!-- most popular actors -->

      <!-- most popular actors -->
{% endblock %}
